$primary: #f25918;
$secondary: #f27b18;
$info: #f29418;
$warning: #f40009;
$danger: #008000;
$light: #f6a843;
$dark: #ffbe90;
$success: #0f9191;

*{
    font-family: 'Merriweather Sans', sans-serif;
    
}
iframe {
    width: 100%;
    height: auto;
    border: none;
}

body {
    background: rgb(255,190,144);
    background: radial-gradient(circle, rgba(255,190,144,1) 0%, rgba(246,168,67,1) 53%, rgba(242,148,24,1) 100%);
}

.form1 {
    font-size: 1.1rem;
    color: $primary;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-block-end: 15px;
}
.form2 {
    color: $primary;
    width: 70%;
    border-color: $primary;
    margin: auto;
    margin-top: 15px;
    margin-block-end: 15px;
}

.select-cat {
    margin-top: 5px;

}

.nav-home {
    color: $warning;
    
}

nav {
    & div{
        & a {
            & i {
                margin-top: 10px;
                font-size: 2rem;
                color: $dark;
            }
    
            & i:hover {
                margin-top: 10px;
                color: white;
            }
        }
    }
}
.icono-estadistico{
    margin-top: 10px;
    color: $dark;
    font-size: 3rem;
}

.icon-botton {
    margin-top: 10px;
    font-size: 2rem;
    color: $dark;

    &:hover {
        margin-top: 10px;
        color: white;
    }
}

.icon-botton2 {
    display:flex;
    margin-top: -620px;
    margin-left: 85vw;
    font-size: 2rem;
   cursor: pointer;
   width: 50px;
   height: 50px;
   filter: drop-shadow(0 0 10px $success )
}
.icon-2 {
    color: $success;
    animation-name: carrito-animado;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes carrito-animado{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
    
}

.icon-botton-check {
    font-size: 2rem;
    color: white;

    &:hover {
        margin-top: 10px;
        color: white;
    }
}

.products {
    height: 350px;
    width: 350px;
}

.img-products {
    height: 350px;
    width: 350px;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-block-end: 20px;
    outline: none;
    filter: drop-shadow(0 0 10px $primary )
}

.checks {
    margin-left: 10%;
    margin-right: 10%;
}

.checks-item {
    margin-right: 1rem;
}

.card {
    width: 20em;
    margin-block-end: 15px;
    font-size: 1.1rem;

    & .card-header {
        color: black;
        background-color: $info;
    }

    & .card-body {
        color: black;
        background-color: white;

    }

    & .card-footer {
        background-color: $info;

    }
}
.container2 {
    display: flex;
    position: relative;
    border: 3px solid $primary;
    border-radius: 32px;
    text-align: center;
    overflow: hidden;
    margin-block-end: 15px;
}

.card2 {
    
    margin: auto;
    height: 60px;
    transition: .3s all ease;
    border-radius: 32px;
    font-size: 2rem;
    color: $dark;
}

.card2:hover {
    width: 100px;
    background-color: $primary;
    color: white;
}


.heading {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

h1 {
    position: relative;
    font-size: clamp(2rem, 20vw, 10rem);
    line-height: 0.9em;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: $success;

    &:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        color: $warning;
        -webkit-text-stroke: 1px $warning;
        border-right: 2px solid $warning;
        overflow: hidden;
        animation: move 5s alternate ease-in-out infinite;
    }

    & span {
        font-size: 0.50em;
        line-height: 1em;
        letter-spacing: 0.02em;
        display: block;
        position: relative;

        &::before {
            content: attr(data-span);
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            color: $warning;
            -webkit-text-stroke: 0.6px $warning;
            overflow: hidden;
            white-space: nowrap;
            animation: move 5s alternate ease-in-out infinite;
        }

    }

}

@keyframes move {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

// Dark MODE
// @media(prefers-color-sheme:dark){
//     :root{
//         --bg-color: #000;
//         --text-color:#fff:
//     }
// }
html.dark-mode {
    filter: invert(100%);

    & img {
        filter: invert(100%);
    }
}
.foto-empleado {
    height: 300px;
    width: 300px;
}

.svg-icon {
    margin-top: 10%;

}

.prioridad1{
    background-color: #f40009;
    color: #f40009;
}


@import "node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here